asgiref==3.7.2
backports.zoneinfo==0.2.1
dearpygui==1.9.1
Django==4.2.2
numpy==1.23.2
opencv-contrib-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyFirmata==1.1.0
pyparsing==3.0.9
pyserial==3.5
pytesseract==0.3.10
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
