{% extends "plate/plate_base.html" %}

{% block title%}Captured{%endblock title%}

{% block content%}

<h1> List </h1>
{% for plate in plates_captured%}

    <div class="card" style="width: 18rem;">
        <img src="{{plate.image_license.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Plate: {{plate.plate}}</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{{plate.image_car.url}}" class="card-img-top" alt="...">
  </div>
{% endfor %}

{% endblock content%}